* {
  padding: 0;
  margin: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 0px 30px;
}

.c-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fffefe;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-navbar__image {
  width: 75px;
}

.c-navbar__menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-navbar__hamburger {
  background: transparent;
  border: 0;
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

.c-navbar__hamburger:focus {
  outline: none;
}

.c-navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 690px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.c-navbar__home--hover:hover {
  color: green;
  font-size: 23px;
  border: 3px solid black;
  border-radius: 8px;
  padding: 3px 3px 3px 3px;
}

.c-navbar__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-navbar__button {
  padding: 14px;
  border-radius: 85px;
  background: saddlebrown;
  color: white;
  border: none;
  font-weight: 600;
}

.c-navbar__hamburgaremenu {
  display: none;
}

.c-banner__background {
  background-image: url("banner2.jpg");
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

.c-banner__heading {
  position: absolute;
  left: 57%;
  top: 74%;
  -webkit-transform: translate(-23%, -50%);
          transform: translate(-23%, -50%);
  z-index: 0;
  font-family: inherit;
  line-height: 58px;
}

.c-banner__contact {
  padding: 12px 35px;
  background: none;
  color: white;
  border: 2px solid;
}

.c-banner__contact--hover:hover {
  color: yellow;
}

.c-banner__click {
  padding: 12px 35px;
  margin-left: 20px;
  background: none;
  color: white;
  border: 2px solid;
}

.c-banner__click--hover:hover {
  color: yellow;
}

.c-banner__button {
  margin-top: 25px;
}

.c-banner h1 {
  font-size: 50px;
}

.c-banner h2 {
  font-size: 30px;
}

.c-about {
  padding: 10px 20px;
}

.c-about__button {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-about__aboutus-button {
  background: transparent;
  padding: 15px 39px;
  border: 3px inset #2CC73B;
  font-size: 24px;
}

.c-about__aboutbgimage {
  background-image: url("about-bg.jpg");
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.c-about__images {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.c-about__image {
  margin: 0 auto;
  width: 45%;
}

.c-help {
  margin-top: 100px;
  padding: 10px 20px;
}

.c-help h1 {
  text-align: center;
}

.c-help h2 {
  text-align: center;
}

.c-help__heading {
  font-family: 'Shadows Into Light', cursive;
}

.c-help__nutrition {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.c-help__nutritionpartone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-help__nutritionpartsecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 35px;
}

.c-help__nutritionpartone-iconone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-help__nutritionpartone-icontwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-help__nutritionpartone-iconthree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-help__nutritionpartone-iconfour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-help h2 {
  margin-left: 30px;
  padding-bottom: 51px;
  padding-top: 20px;
}

@media screen and (max-device-width: 1024px) and (min-width: 600px) {
  li {
    margin-top: 20px;
  }
  .c-navbar__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    flex-direction: column;
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 5px;
  }
  .c-navbar__menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 1;
    height: 52vh;
  }
  .c-navbar__image {
    width: 84px;
  }
  .c-navbar__hamburger {
    display: block;
  }
  .c-navbar__registration {
    display: none;
  }
  .c-navbar__hamburgaremenu {
    display: block;
  }
  .c-navbar__hamburgemenu-icon {
    width: 58px;
    margin-left: 47px;
  }
  .c-banner__background {
    height: 50vh;
  }
  .c-banner__heading {
    position: absolute;
    left: 31%;
    top: 40%;
    -webkit-transform: translate(-23%, -50%);
    transform: translate(-19%, -50%);
    z-index: 0;
    line-height: 54px;
  }
  .c-banner__contact {
    padding: 10px 33px;
    background: none;
    color: white;
    border: 2px solid;
  }
  .c-banner__click {
    padding: 10px 33px;
    background: none;
    color: white;
    border: 2px solid;
  }
  .c-about__aboutbgimage {
    height: 30vh;
  }
}

@media only screen and (max-width: 600px) {
  li {
    margin-top: 20px;
  }
  .container {
    margin: 0px 20px;
  }
  .c-navbar__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: fixed;
    top: 80px;
    flex-direction: column;
    left: 0px;
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    border: 1px solid black;
    background: black;
    color: white;
  }
  .c-navbar__menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 1;
  }
  .c-navbar__image {
    width: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-navbar__hamburger {
    display: block;
  }
  .c-navbar__registration {
    display: none;
  }
  .c-navbar__hamburgaremenu {
    display: block;
  }
  .c-navbar__hamburgemenu-icon {
    width: 58px;
    margin-left: 47px;
  }
  .c-banner__background {
    height: 30vh;
  }
  .c-banner__heading {
    position: absolute;
    left: 31%;
    top: 30%;
    -webkit-transform: translate(-23%, -50%);
    transform: translate(-16%, -50%);
    z-index: 0;
    line-height: 23px;
  }
  .c-banner h1 {
    font-size: 24px;
  }
  .c-banner h2 {
    font-size: 12px;
  }
  .c-banner__contact {
    padding: 7px 15px;
    background: none;
    color: white;
    border: 2px solid;
  }
  .c-banner__click {
    padding: 7px 19px;
    margin-left: 5px;
    background: none;
    color: white;
    border: 2px solid;
  }
  .c-banner__button {
    margin-top: 0;
  }
  .c-help h1 {
    font-size: 26px;
  }
  .c-help h2 {
    font-size: 16px;
  }
  .c-help__nutritionpartone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-help__nutritionpartsecond {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-about__aboutbgimage {
    height: 16vh;
  }
  .c-about__description {
    margin-top: 45px;
  }
  .c-about__aboutus-button {
    padding: 2px 15px;
  }
}
/*# sourceMappingURL=style.css.map */